parameters:
	bootstrap: phpstan-bootstrap.php
	level: max
	stubFiles:
		- tests/PHPStan/stubs/Neomerx/JsonApi/Contracts/Factories/FactoryInterface.php
		- tests/PHPStan/stubs/Neomerx/JsonApi/Contracts/Schema/ContextInterface.php
		- tests/PHPStan/stubs/Neomerx/JsonApi/Contracts/Schema/LinkInterface.php
		- tests/PHPStan/stubs/Neomerx/JsonApi/Contracts/Schema/SchemaContainerInterface.php
		- tests/PHPStan/stubs/Neomerx/JsonApi/Factories/Factory.php
