#
# Plugin DI configuration
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:WebServerPlugin!
# @subpackage     config
# @since          1.0.0
#
# @date          19.07.20

php:
    date.timezone: Europe/Prague

extensions:
    fbTools                 : FastyBird\Core\Tools\DI\ToolsExtension

fbApplication:
    documents:
        mapping: []
