#
# Web server DI configuration
#
# @license		More in LICENSE.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package      FastyBird:WebServer!
# @subpackage	config
# @since		0.1.0
#
# @date			19.07.20

php:
	date.timezone: Europe/Prague

extensions:
	contributteConsole	: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	contributteEvents	: Contributte\EventDispatcher\DI\EventDispatcherExtension

contributteConsole:
	name: FastyBird:WebServer!
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: http://example.com
	lazy: false
	helperSet: \Symfony\Component\Console\Helper\HelperSet
	helpers: []
